Tech Challenge/Fase 1/Video/
/Tech Challenge/Fase 2/functions/__pycache__
/Tech Challenge/Fase 3/__pycache__
/Tech Challenge/Fase 3/chroma_langchain_db
/Tech Challenge/Fase 3/lora_model_llama-3-8b-bnb-4bit
/Tech Challenge/Fase 3/trainer_outputs
/Tech Challenge/Fase 3/unsloth_compiled_cache
Tech Challenge/Fase 3/trn.json
Tech Challenge/Fase 3/trn_processed.json
Tech Challenge/Fase 3/trn_processed_dataset.json
/Tech Challenge/Fase 3/llama/unsloth_compiled_cache
/Tech Challenge/Fase 3/llama/trainer_outputs
/Tech Challenge/Fase 3/llama/lora_model_llama-3-8b-bnb-4bit
/Tech Challenge/Fase 3/llama/chroma_langchain_db
/Tech Challenge/Fase 3/llama/__pycache__
Tech Challenge/Fase 3/llama/trn.json
Tech Challenge/Fase 3/llama/trn_processed_dataset.json
Tech Challenge/Fase 3/llama/trn_processed.json
Tech Challenge/Fase 3/video/Apresentacao_Tech_Challenge_03.mp4
*.mp4
*.pt
